a:link { font-weight: bold; text-decoration: none; color: navy }
			a:visited { font-weight: bold; text-decoration: none; color: navy }
			a:hover { font-weight: bold; text-decoration: underline }
body { font-family: sans-serif; background-color: #ffffff; color #ffffff }

table { }

	ul {
		font-size: 12px;
	}

p {
	padding: 3px;
	font-size: 80%;
	color: #151515;
}

h1 {
font-size: 250%;
	color: black;

	}

h3 {
font-weight: bold;
font-size: 90%;

}
h2 {

text-decoration: none;
background: #ffffff;
font-weight: bold;
font-size: 150%;
}


